
html {
	margin: 0;
	outline: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	/*overflow: hidden;*/
	/*position: fixed;*/
}


body {
	margin: 0;
	padding: 0;
	padding-top: 45px;
	/*width: 100%;*/
	/*overflow: hidden;*/
}

main {
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
}

a {
	color: #2c9571;
	text-decoration: none;
}

section h2 {
	color: #167353;
}

section h1, h2, h3, h4, h5, p, div {
	padding-left: 10px;
	padding-right: 10px;
	/*max-width: 100%;*/
}

header {
	margin: 0;
	padding: 0;
}


nav li{
	display: inline-block;	
	padding-left: 10px;
	padding-right: 10px;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 23px;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	/*height:1.2rem;*/
		/*line-height:1.2rem;*/
}

nav {
	background-color: #54c39d;
	/*height: 60px;*/
	width: 100%;
	top: 0px;
	padding-top: 0px;
	margin-top: 0;
	position: fixed;
	z-index: 100;
}

nav ul {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	/*padding-top: 10px;*/
}


footer {
	/*background-color: #54c39d;*/
	background-color: #2c9571;
	color: white;
	padding-top: 10px;
	padding-bottom: 20px;
	bottom: 0;
}

footer a {
	color: white;
	text-decoration: none;
	font-size: 16px;
	/*font-weight: bold;*/
	/*font-family: 'Indie Flower', cursive;*/
}

nav>ul>li {
	padding-top: 10px;
	padding-bottom: 10px;
}

nav>ul>li:hover {
	background-color: white;
	transition: background-color 3s linear 1s;
	transition: 1s ease-in-out;
	transition: 1s;
	/*background-color: #222;*/
}

nav>ul>li:hover a{
	color: #2c9571;
	transition: color 3s linear 1s;
	transition: 1s ease-in-out;
	transition: 1s;

}

.align-center {
	text-align: center;
}


.green-text {
	color: #54c39d;
}

.btn-primary {
	background-color: #54c39d;		
	color: white;
	border-radius: 30px;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.btn-inverse {
	border: 1px #54c39d solid;
	color: #54c39d;		
	background-color: white;
	border-radius: 30px;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;

}


p.bold {
	font-weight: bold;
}


.cover-img {
	width: 100%;
}

#main-cover {
	animation: img-pag-principala 10s infinite
}

#main-info {
	position: absolute;
	top: 170px;
	color: white;
	width: 100%;
}


#main-info h2 {
	margin-top: 0;
	padding-top: 0;
	text-align: center;
	font-size: 40px;
	color: #54c39d;

}

#main-info h3 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

#main-info-btn-div {
	text-align: center;
}

table.bordered-table {
	border: 1px solid black;
	/*border-collapse: collapse;*/
	border-spacing: 0;
}

table.bordered-table td, table.bordered-table th {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0;
}

#locations_table {
	width: 100%;
	/*text-align: center;*/
}

#locations_table th {
	font-size: 18px;
	color: #225644;
}

#locations_table td {
	padding: 10px;
}

#locations_table img {
	width: 200px;
	max-height: 200px;
}

#locations_table .img-cell {
	text-align: center;
}

#locations {
	margin: auto;
	padding-left:20px;
	padding-right:20px;
}

footer li a:hover {
	font-weight: bold;
}


.GGIT-section {
	/*width: 30%;*/
	display: inline-block;
}

.GGIT-section h3 {
	text-align: center;
}

.section-img {
	width: 100%;
}

/* General format classes */
.text-center {
	text-align: center;
}

.btn-sus:hover {
	color: white;
	background-color: #2c9571;

}

#logo-img {
	position: relative;
	z-index: 4;
}

#main-cover-logo {
	position: absolute;
    height: 150px;
    width: 150px;
    /* z-index: -25; */
    top: 476px;
}

#sections-wrapper {
	display: flex;
	flex-flow: row nowrap;
	/*flex-flow: column nowrap;*/
	justify-content: space-around;
	align-items: center;
}

#story-1, #story-2 {
	display: flex;
	flex-flow: row nowrap;
}

#story-1 aside, #story-2 aside {
	padding-left: 20px;
}

/* Animations */
@keyframes img-pag-principala {
	0% {
		opacity: 0.8;
	}

	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.8;
	}
}



@media screen and (max-width: 960px) and (min-width: 500px) {

}

@media screen and (max-width: 600px) {
	#sections-wrapper {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
	}
} 
