body {
	background-image: url('../img/background2.jpg');
	background-image: url('../img/background9.jpg');
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.codeBlock img {
	width: 300px;
	height: 150px;
}

.codeBlock p {
	position: absolute;
	top: 10px;
	color: white;
	width: 300px;
	text-align: center;
} 

