body {
	background-image: url('../img/background2.jpg');
	background-image: url('../img/background9.jpg');
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#sprite {
	position: absolute;
	height: 100px;
	width: 100px;
}


#sprite img {
	width: 100px;
}

.codeBlock {
	position: absolute;
	animation: falling 10s linear;
	top: -200px;
}

.obstacle {
	position: absolute;
	width: 100px;
	animation: falling 10s linear;
	top: -200px;
}

.obstacle img {
	width: 100px;
}

.codeBlock img {
	width: 300px;
	height: 150px;
}

.codeBlock p {
	position: absolute;
	top: 10px;
	color: white;
	width: 300px;
	text-align: center;
} 


/*TODO: delete*/
#obstacle1 {
	top: 20px;
	left: 20px;
}

#obstacle2 {
	top: 420px;
	left: 120px;
}

#obstacle3 {
	top: 320px;
	left: 720px;
}

#obstacle4 {
	top: 320px;
	left: 620px;
}

#obstacle5 {
	top: 420px;
	left: 820px;
}

/*Delete until here*/
